type file
id {{cookiecutter.project_name}}
version {{cookiecutter.version}}
authors {{cookiecutter.full_name}}
description
    {{cookiecutter.project_short_description}}
files
    packages/{{cookiecutter.project_name}} ==> .
//dependencies
//    xPSDesiredStateConfiguration == LOCKEDVERSION
