type file
id {{cookiecutter.project_name}}
version {{cookiecutter.version}}
authors {{cookiecutter.full_name}}
description
    {{cookiecutter.project_short_description}}
files
    DSCResources ==> DSCResources
    {{cookiecutter.project_name}}.psd1 ==> .
//dependencies
//    xPSDesiredStateConfiguration == 6.0.0.0
